<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Copyright (C) 2021 <a href="https://www.telefonica.com.pe/es/">Telefónica.</a> All rights reserved. <i class="fa fa-code"></i> <a href="https://www.linkedin.com/in/jganggini/">jganggini</a>.</p>
    </section>
</section>
